@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');
@font-face {
  font-display: swap;
  font-family: "Graffiti";
  /*Can be any text*/
  src: url("https://res.cloudinary.com/dos8mey8r/raw/upload/v1667230704/shoes/SpriteGraffiti-Regular_avrvx7.ttf") format("truetype")
}

* {
  padding: 0;
  margin: 0;
}



/**** video ****/
.choose,
.choose2 {
  font-family: ubuntu;
  -webkit-text-stroke: 3px #222;
  opacity: 0.9;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
  transition: background-position ease-out 0.4s;
  background-size: 1% 200%;
}
.choose2 {
  background-image: linear-gradient(to bottom, rgb(55, 0, 0) 50%, rgb(255, 255, 255) 50%);
}
.choose:hover,
.choose2:hover {
  background-position: 0 -100%;
}

/** toogle button **/
.toggle {
  height: 31px;
  width: 80px;
  border-radius: 50px;
  margin: auto 20px;
  background-image: linear-gradient(rgb(17, 120, 184), skyblue);
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.toggle.night {
  background-image: linear-gradient(midnightblue, rebeccapurple);
}
.notch {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: yellow;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 1;
  transition: all 0.3s ease;
}
.notch>.crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
}
.night .crater {
  opacity: 0.4;
}
.crater:first-child {
  left: 5px;
  top: 15px;
  height: 15px;
  width: 40px;
  transform: rotate(-45deg);
}
.crater:last-child {
  right: 10px;
  top: 15px;
  height: 15px;
  width: 25px;
  transform: rotate(45deg);
}
.night>.notch {
  background: whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(45px, 0);
  -webkit-transform: translate(45px, 0);
  -moz-transform: translate(45px, 0);
  -ms-transform: translate(45px, 0);
  -o-transform: translate(45px, 0);
}
.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.shape.sm {
  height: 4px;
  width: 15px;
  top: 35%;
  left: 70%;
}
.shape.md {
  height: 5px;
  width: 30px;
  top: 20%;
  left: 25%;
}
.shape.lg {
  height: 7px;
  width: 35px;
  bottom: 5px;
  left: 40%;
}
.night .shape {
  background: lightgray;
  box-shadow: 0 0 5px 2px violet;
}
.night .shape.sm {
  height: 2px;
  width: 2px;
  transform: translate(-24px, 12px);
  -webkit-transform: translate(-24px, 12px);
  -moz-transform: translate(-24px, 12px);
  -ms-transform: translate(-24px, 12px);
  -o-transform: translate(-24px, 12px);
}
.night .shape.sm:first-of-type {
  transform: translate(-45px, -1px);
  -webkit-transform: translate(-45px, -1px);
  -moz-transform: translate(-45px, -1px);
  -ms-transform: translate(-45px, -1px);
  -o-transform: translate(-45px, -1px);
}
.night .shape.md {
  height: 4px;
  width: 4px;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
}
.night .shape.lg {
  height: 5px;
  width: 5px;
  transform: translate(-19px, 0);
  -webkit-transform: translate(-19px, 0);
  -moz-transform: translate(-19px, 0);
  -ms-transform: translate(-19px, 0);
  -o-transform: translate(-19px, 0);
}


/** hero **/
.p1 {
  opacity: 0;
  transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  font-size: 15px;
  padding-bottom: 40px;
}
.p1.visible {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

/** cube  **/
.faceZ {
  height: 220px;
  width: 220px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;

  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.faceZ img {
  height: 100%;
}

/* front-face */
.faceZ:nth-child(1) {
  transform: translateZ(110px);
  -webkit-transform: translateZ(110px);
  -moz-transform: translateZ(110px);
  -ms-transform: translateZ(110px);
  -o-transform: translateZ(110px);
}

/* back-face */
.faceZ:nth-child(2) {
  transform: translateZ(-110px);
  -webkit-transform: translateZ(-110px);
  -moz-transform: translateZ(-110px);
  -ms-transform: translateZ(-110px);
  -o-transform: translateZ(-110px);
}

/* left-face */
.faceZ:nth-child(3) {
  right: 110px;
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
}

/* right-face */
.faceZ:nth-child(4) {
  left: 110px;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
}

/* top-face*/
.faceZ:nth-child(5) {
  bottom: 110px;
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
}

/* bottom-face*/
.faceZ:nth-child(6) {
  top: 110px;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
}

/* open-cube*/
.faceZ.open:nth-child(1) {
  transform: translateZ(160px) rotateX(360deg);
  -webkit-transform: translateZ(160px) rotateX(360deg);
  -moz-transform: translateZ(160px) rotateX(360deg);
  -ms-transform: translateZ(160px) rotateX(360deg);
  -o-transform: translateZ(160px) rotateX(360deg);
}

.faceZ.open:nth-child(2) {
  transform: translateZ(-160px) rotateX(360deg);
  -webkit-transform: translateZ(-160px) rotateX(360deg);
  -moz-transform: translateZ(-160px) rotateX(360deg);
  -ms-transform: translateZ(-160px) rotateX(360deg);
  -o-transform: translateZ(-160px) rotateX(360deg);
}

.faceZ.open:nth-child(3) {
  right: 160px;
}

.faceZ.open:nth-child(4) {
  left: 160px;
}

.faceZ.open:nth-child(5) {
  bottom: 160px;
}

.faceZ.open:nth-child(6) {
  top: 160px;
}

.containerZ button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);

  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}


.containerZ button {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  margin-bottom: 20px;
}

.containerZ button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);

  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}


@keyframes animate {
  0% {
    transform: rotateX(45deg) rotateY(-45deg);
    -webkit-transform: rotateX(45deg) rotateY(-45deg);
    -moz-transform: rotateX(45deg) rotateY(-45deg);
    -ms-transform: rotateX(45deg) rotateY(-45deg);
    -o-transform: rotateX(45deg) rotateY(-45deg);
  }

  25% {
    transform: rotateX(-45deg) rotateY(-45deg);
    -webkit-transform: rotateX(-45deg) rotateY(-45deg);
    -moz-transform: rotateX(-45deg) rotateY(-45deg);
    -ms-transform: rotateX(-45deg) rotateY(-45deg);
    -o-transform: rotateX(-45deg) rotateY(-45deg);
  }

  50% {
    transform: rotateX(45deg) rotateY(45deg);
    -webkit-transform: rotateX(45deg) rotateY(45deg);
    -moz-transform: rotateX(45deg) rotateY(45deg);
    -ms-transform: rotateX(45deg) rotateY(45deg);
    -o-transform: rotateX(45deg) rotateY(45deg);
  }

  75% {
    transform: rotateX(-45deg) rotateY(45deg);
    -webkit-transform: rotateX(-45deg) rotateY(45deg);
    -moz-transform: rotateX(-45deg) rotateY(45deg);
    -ms-transform: rotateX(-45deg) rotateY(45deg);
    -o-transform: rotateX(-45deg) rotateY(45deg);
  }

  100% {
    transform: rotateX(45deg) rotateY(-45deg);
    -webkit-transform: rotateX(45deg) rotateY(-45deg);
    -moz-transform: rotateX(45deg) rotateY(-45deg);
    -ms-transform: rotateX(45deg) rotateY(-45deg);
    -o-transform: rotateX(45deg) rotateY(-45deg);
  }
}

@media screen and (min-width: 420px) {
  .boxZ {
    transform-style: preserve-3d;
    animation: animate 6s infinite;
    -webkit-animation: animate 6s infinite;
  }
  .containerZ {
    perspective: 1000px;
  }
}

@media screen and (min-width: 600px) {
  .containerZ button {
    display: inline;
  }
  .p1.visible,.p1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .p1.visible,.p1 {
    padding-bottom: 50px;
  }
}







  /* acordion */

.imgAccordion{
  height: 50vh;
  display: flex;
  cursor: pointer;
}

.imgAccordion a {
  flex: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.imgAccordion a:hover{
  flex: 5;
}
.img{
 
  height: 100%;
  border:1px solid #222;

  margin: 0 2px;
  background-size: cover;
  background-position: center;
  position: relative;
 
}

.img1{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1667470248/shoes/lindsay-henwood-7_kRuX1hSXM-unsplash_b8rhuz_zvfjgn.jpg"); }
.img2{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1667470248/shoes/paul-volkmer-updW-QUccFE-unsplash_twqeiu_hokbdd.jpg"); }
.img3{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1667470248/shoes/janko-ferlic-jjDqU0P0-SM-unsplash_x6pqxr_sgrmol.jpg"); }

.img p{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Century Gothic";
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);

}

.img:hover p{
  transform: rotate(0);
 
}

@media only screen and (hover: none){
  .imgAccordion a:hover{
flex: 1;
  }
  .img p{
    transform: rotate(0);
   
  }
}



/* card 3d*/

.bestSales{
  width:100%;
  height: auto;
  margin: 0 auto;
}

.container-3d {
width: 30%;
  min-width: 330px;
  max-width: 450px;
  height: 450px;
  perspective: 900px; /*Referencial for 3d Perspective*/
 margin-top: 80px;
  border-radius: 10px;
  margin: 70px auto;
  position: relative;
  
}

/*Card*/
.card {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px 1px #000000;
  border-radius: 5px;
  transition: all 0.8s ease-in-out;
  transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: all 0.8s ease-in-out;
  transform-style: preserve-3d;

 
  color: rgb(0, 0, 0);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.front {
  background-position: left;
}

.back {
  background-position: right;
  transform: rotateY(180deg); /*rotate this face*/
}

/*Content Card*/
.front-content,
.back-content {
  transform: translateZ(90px);
  -webkit-transform: translateZ(90px);
  -moz-transform: translateZ(90px);
  -ms-transform: translateZ(90px);
  -o-transform: translateZ(90px);
}

/*Front*/
.front-content {
  text-align: center;
  font-weight: 600;
}
.front-content img{
    width: 70%;
    margin: 50px auto;
}
.details{
    font-size: x-large;
}
.details > div{
  margin-bottom: 20px;
}

.back-content{
    width: 75%;
height: 100%;
    margin: 55px auto 0;
    font-size: 17px;
    text-align: center;
}

.back-content div{
  line-height: 23px;
}
/*
button{
   cursor: pointer;
   padding: 10px 20px;
  
  
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   font-size: 28px;
   border: inherit;
   border-radius: 10%;
   -webkit-border-radius: 10%;
   -moz-border-radius: 10%;
   -ms-border-radius: 10%;
   -o-border-radius: 10%;
}
*/
button:hover{
 transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -ms-transform: scale(1.1);
 -o-transform: scale(1.1);
 transition:0.2s ;
 -webkit-transition:0.2s ;
 -moz-transition:0.2s ;
 -ms-transition:0.2s ;
 -o-transition:0.2s ;
}
/*Hover Transition*/
.container-3d:hover .card {
    transform: rotateY(180deg); /*rotate card when hover on container*/
  }
  
  .container-3d:hover .front {
    background-position: right;
  }
  
  .container-3d:hover .back {
    background-position: left;
  }




  @media screen and (min-width: 900px){
   
    .container{
      width: 80%;
   
    
      justify-content: space-between;
      
    }
  }

  @media screen and (min-width: 1400px){
    .card1{
      display: none;
    }
  }


@media screen and (min-width:1024px) {
  /*slider*/
  .slick-slider{
    width:90%;
  }
}

@media screen and (min-width:1280px) {
  /*categories*/
  .homme,
  .femme,
  .enfant{
    width: 17%;
    height: 600px;
  }
  .active{
    width: 66%;
  }
}

@media screen and (min-width:900px) {
  .bestSales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

